<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="FinancialPlannerEntities" connectionString="metadata=res://*/financialPlannerModel.csdl|res://*/financialPlannerModel.ssdl|res://*/financialPlannerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=176.62.176.149;initial catalog=FinancialPlanner;persist security info=True;user id=sa;password=123mgok2025...;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FinancialPlannerIS322DEntities" connectionString="metadata=res://*/FinancialPlanner.csdl|res://*/FinancialPlanner.ssdl|res://*/FinancialPlanner.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=176.62.176.149;initial catalog=FinancialPlannerIS322D;persist security info=True;user id=sa;password=123mgok2025...;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>